@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: 209 100% 51%;
    --primary-dark: 209 100% 32%;
    --white: 0 0% 100%;
    --black: 0 0% 0%;
    --gray: 0 0% 60%;
    --gray-100: 0 0% 15%;
    --gray-200: 210 12% 16%;
    --border: 220 13% 91%;
  }
}

@layer base {
  * {
    @apply border-app-border scroll-smooth;
    scrollbar-width: thin;
    scrollbar-color: hsl(var(--border)) transparent;
  }
  body {
    @apply bg-white text-app-gray font-roboto;
  }
}

@layer utilities {
  .wrapper {
    @apply mx-auto max-w-screen-xl w-full px-8;
  }
}
