@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --primary: 209 100% 51%; /*#0587FF*/
    --primary-dark: 209 100% 32%; /*#0056A6*/
    --white: 0 0% 100%; /*#ffffff*/
    --black: 0 0% 0%; /*#000000*/
    --gray: 0 0% 60%; /*#989898*/
    --gray-100: 0 0% 15%; /*#262626*/
    --gray-200: 210 12% 16%; /*#24292E*/
    --gray-300: 0, 0%, 97%; /*#F8F8F8*/
    --gray-400: 0, 0%, 86%; /*#DBDBDB*/
    --border: 220 13% 91%; /*#E5E7EB*/
  }
}

@layer base {
  * {
    @apply border-app-border scroll-smooth;
    scrollbar-width: thin;
    scrollbar-color: hsl(var(--border)) transparent;
  }
  body {
    @apply bg-white text-app-gray font-roboto;
  }

  a {
    @apply transition-opacity duration-200 hover:opacity-80;
  }
}

@layer utilities {
  .wrapper {
    @apply mx-auto max-w-screen-xl w-full px-8;
  }
}
